<div id="footer">
	<img src=<%= asset_path("cards.jpg")%> alt="" width="919" height="80" />
	<ul>
		<li><a href="#">Home page</a> |</li>
		<li><a href="#">New Products</a> |</li>
		<li><a href="#">All Products</a> |</li>
		<li><a href="#">Reviews</a> |</li>
		<li><a href="#">F.A.Q.</a> |</li>
		<li><a href="#">Contacts</a></li>
	</ul>
	<p>Copyright ©. All rights reserved. Design by <a href="http://www.bestfreetemplates.info" title="Free CSS Templates" target="_blank" class="bft">BFT</a></p>																							
</div>