<!-- View to show all users in database -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">List All User</h2>
      <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li class="active" href="/list_users">List All User</li>
      </ol>
    </div>
  </div>
  <br/>
  <%= render  partial: '/shared/users/list_users', locals: {users:@users} %>
    <div class="text-center">
      <%= paginate @users unless params[:search_key] %>
    </div>
  </div>
</div>