.uploaded-img id="uploadImg#{upload_experience_photo.id}" data-photo_id="#{upload_experience_photo.id}" data-url="#{upload_photo_fixed_path}" data-experience_id="#{experience.id}"
  = image_tag(upload_experience_photo.img(:normal))
