<ul class="list-unstyled">
  <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
    <h5> All category <i class="glyphicon glyphicon-chevron-down"></i></h5>
  </a>
  <ul class="list-unstyled collapse in" id="userMenu">
    <li><a href="#"><i class="glyphicon glyphicon-flag"></i>Emanuel</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-flag"></i>Chicago</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-flag"></i>Copenhagen</a></li>
    
  </ul>
</li>
</ul> 