<div class="container">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <ul class="breadcrumb">
          <li><a href="/homes">Home</a> » Posts</li>
        </ul>
      </h1>
    </div>
  </div>
  <!-- Projects Row -->
  <div class="row">
    <script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-toggle").dropdown();
  });  
</script>
<div class="col-lg-10">
  <div class="row">
    <div class="col-md-6 portfolio-item">
      <div class="col-sm-4">
        <a href="#">
          <img class="img-thumbnail" src="/system/posts/images/000/000/002/thumb/index.jpeg?1426642298" alt="Index">
        </a>
     </div>
     <div class="col-sm-8">
      <div class="dropdown badge pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <li><a href="/posts/2">Read more</a></li>
          <li class="divider"></li>
          <li><a href="#">Another action</a></li>
        </ul>
      </div>
      <div class="title">
        <a href="#"></a><a href="/posts/2">Post1</a>
      </div>
      <div class="date"> 18/03/2015 01:31 | Author: <a href="#">test</a></div>
      <p class="text-justify">
       Here's a Ruby "read file" example program that shows how to read a file as one string Here's a Ruby "read file" example program that shows how to read a file as one 
     </p>
   </div>                
 </div>

<div class="row text-center">
  <div class="col-lg-12">
   <ul class="pagination pagination"><li class="prev"><a rel="prev start" href="/posts?page=1">← Previous</a></li> <li><a rel="prev start" href="/posts?page=1">1</a></li> <li class="active"><span>2</span></li> <li class="next disabled"><span>Next →</span></li></ul>
 </div>
</div>
</div>
<div class="col-lg-2">
  <div class="well">Post read more<span class="badge pull-right">4</span>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="glyphicon">(104)</i> 
      <small>(27/03/2015 03:01)
      </small> 
      <a href="/posts/11">You can also add prompt option like this.</a></li>
    <li class="list-group-item">
      <i class="glyphicon">(70)</i> 
      <small>(23/03/2015 07:08)
      </small> 
      <a href="/posts/10">Apple support communities new</a></li>
    <li class="list-group-item">
      <i class="glyphicon">(12)</i> 
      <small>(20/03/2015 10:00)
      </small> 
      <a href="/posts/7">New post moi</a></li>
    <li class="list-group-item">
      <i class="glyphicon">(5)</i> 
      <small>(18/03/2015 02:17)
      </small> 
      <a href="/posts/4">This class only applies to immediate children list items</a></li>
    </ul>
</div>
  </div>      
</div>
<footer>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>Copyright © Your MiniBlog 2015</p>
    </div>
  </div>
  <!-- /.row -->
</footer>

</div>