<script>
	$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% if flash[:login] %>
			<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<%= flash[:login] %>
		</div>
		<%end%>
	</div>
</div>
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> 
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
		</div>     
		<div style="padding-top:30px" class="panel-body" >
			<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
			<form id="loginform" action=<%=logins_path%> class="form-horizontal" method="post" role="form">
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username" required >                   
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
				</div>
				<div class="input-group">
					<div class="checkbox">
						<label>
							<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
						</label>
					</div>
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button style="submit" class="btn btn-success" >
							Login
						</button>
						<a id="btn-fblogin" href=<%= homes_path%> class="btn btn-primary">Cancel</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 control">
						<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
							Don't have an account!
							<%= link_to "Sign Up Here", sign_up_path %> 
						</div>
					</div>
				</div>    
			</form>     
		</div>                     
	</div> 
</div>

