<% case notice_type %>
<% when "errors_list" %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <ul>
          <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
<% when "notice" %>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <p><%= flash[:notice] %></p>
        </div>
      <% end %>
<% when "alert" %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <p><%= flash[:alert] %></p>
        </div>
      <% end %>
<% end %>