<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Welcome <%= @user.name %></h3>
  <p>
    registration account curator of explorience is completed
  </p>
  <p>
    To log in to the site, just follow this link:  <%= link_to "Log in", new_user_session_url %>.
  </p>
  <p>Thank you for using our services and have a great day!</p>
</body>
</html>