
<div class="col-md-6 col-md-offset-3">
	<form action="user" method="PATCH">
		<% if flash[:change] %>
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>s
			<%= flash[:change] %>
		</div>
		<% end %>
		<% if flash[:unchange] %>
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>	 
			<%= flash[:unchange] %>  		
		</div>
		<% end %>
		<div class="form-group">
			<label for="current-password">Password old</label>
			<input type="password" class="form-control" name="password_old" placeholder="Enter your current password" required ="">
		</div>
		<div class="form-group">
			<label for="new-password">New password</label>
			<input type="password" class="form-control" name="password" placeholder="Enter your new password" minlength="6"  required ="">
            <p class="help-block"></p>
		</div>
		<div class="form-group">
			<label for="retype-password">Retype new password</label>
			<input type="password" class="form-control" name ="retype-password" placeholder="Retype your new password" data-validation-match-match= "password"required ="">
			<p class="help-block"></p>
		</div>
		<div class="form-group pull-right">
			<button type="submit" class="btn btn-default">Save</button>
			<a href="#"><button type="button" class="btn btn-primary">Cancel</button></a>
		</div>
	</form>
</div>
