#mypageWrap
  = render partial: 'users/user_layout',
  locals: { user: @user,
            user_img: @user_image,
            user_name: @user_name,
            context_filter: @context_filter,
            clicked_count_go: @clicked_count_go,
            clicked_count_went: @clicked_count_went,
            clicked_count_revisit: @clicked_count_revisit,
            tags: @tags,
            checked_experiences: @checked_experiences,
            following_count: @following_count,
            follower_count: @follower_count,
            experience_ranking: @experience_ranking,
            uploaded_experience_photos: @uploaded_experience_photos,
            uploaded_photos_count: @uploaded_photos_count,
            gold_badges: @gold_badges,
            silver_badges: @silver_badges,
            bronze_badges: @bronze_badges,
            unread_followers: @unread_followers,
            unread_score_logs: @unread_score_logs,
            btn_path: mypage_path }
